.nav-switch {
  display: inline-block;
  //[TODO: make a mixin for this] 
  position: absolute;
  top: 50%;
  right: 1vw;
  width: 3rem;
  transform: translate(0, -50%);
  .dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #4682B4;
    border-radius: 50%;
    margin-right: 0.29rem;
    display: inline-block;
  }
  .dot:last-child {
    margin-right: 0;
  }
}