:host {
  .home-heading {
    color: #4A4A4A; // TODO: make variable.
  }
  .home-inputs {
    margin: 4rem 0;

    .home-input {
      width: 100%;
      margin: 0 auto 1rem auto;
      display: block;
      padding: 0.5rem 0;
      border-radius: 0.3rem; // TODO: make variable.
      border: 0;
      font-size: 1.3rem;
      background: #FFFFFF; // TODO: make variable.
    }
  }
}

