<rc-hero>
  <div class="home-heading">
    <h1>Need to find a lawyer?</h1>
    <h2>We can help you find a local lawyer!</h2>
  </div>
  
  <div class="home-inputs">
    <input class="home-input"
      appGooglePlaces
      [options]='placesRef.options'
      placeholder="I need a lawyer in"
      #placesRef
      (onAddressChange)="handleAddressChange($event)"/>
    <app-specialty-select
      (onSpecialtyChange)="handleSpecialtyChange($event)">
    </app-specialty-select>
    <app-specialties></app-specialties>
    <rc-button
      [buttonText]="'Find My Lawyer'"
      [buttonLink]="ctaButtonLink">
    </rc-button>
  </div>
  

</rc-hero>
