<div style="text-align: center;">
  <h1>Need to find a lawyer?</h1>
  <h2>We can help you find a local lawyer.</h2>
  <p>Searching for the best legal help in your area? The get started by telling us:</p>
  <p>Where are you looking?</p>
  <p>What type of leagl help do you need?</p>
  <img src="https://regmedia.co.uk/2016/06/02/lawyer_up.jpg?x=1200&y=794" width="80%" alt="find a lawyer" />
  <p>Coming soon!</p>
  <input appGooglePlaces [options]='options' #placesRef="app-places" (onAddressChange)="handleAddressChange($event)"/><br/>
  <app-specialty-select></app-specialty-select>
</div>
