.footer-container {
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  background-color:#d9d9d9;
  font-size: 4vw;
  .footer-link {
    color: #fff;
    text-decoration: none;
  }
  .rc-icon {
    fill: #fff;
  }
  .rc-logo {
    display: inline-block;
  }
}