@import '../../../sass/variables.scss';

.na-logo {
  fill: #4682B4;
  transition: all .2s ease-in-out 0.2s;

}

.logo-link {
  display: inline-block; 
  position: absolute; //[TODO: make a mixin for this] 
  top: 50%;
  left: 5vw;
  width: 45%;
  transform: translate(0, -50%);
  line-height: 0;
}

.header-outer {
  width: 100%;
  height: $headerHeight;
  z-index: 4; //[TODO: make z-index variables]
  position: relative;
  background-color: $white;
  box-shadow: 0px 2px 10px #ececec;
}

.mobile-nav {
  display: none;
}

.desktop-nav {
  display: none;
}

.nav-header {
  background-color: transparent;
  box-shadow: none;

  .na-logo {fill: #fff}

  ::ng-deep {
    .nav-switch {
      .nav-dots {

        
        &::before,
        &::after {
          left: -8px;
          top: 1px;
          height: 2px;
          width: 20px;
          background-color: #FFF;

        }
        
        &::before {
          transform:rotate(45deg);
        }
        
        &::after {
          transform:rotate(-45deg);
        } 
      }
    }
  }
}
