@import '../../../sass/variables.scss';

:host {
  .rc-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0.5rem 0;
    background-color: $primaryColor;
    border-radius: $buttonBorderRadius;
    text-decoration: none;
    text-align: center;
    font-size: 6.5vw;
    color: $white;
  }

  @media screen and (min-width: $minWidth) {
    .rc-button {
      font-size: 1.5rem;
    }
  }
}